.container {
    padding-top: 10px;
}

.products-cell > .panel {
    min-height: 450px;
}

.products-cell > .panel > .panel-footer {
    background-color: inherit;
}

.products-cell > .panel > .panel-heading {
    text-transform: uppercase;
    font-weight: 700;
    height: 46px;
    font-size: 16px;
    line-height: 25px;
}

.products-cell .title a {
    color: #ffffff;
}

.products-cell .title {
    float: left;
}

.products-cell .price {
    font-size: 20px;
    float: right;
}

.products-cell .discounted-price {
    color: #ffe2c1;
}

.products-cell .img-responsive {
    width: 100%;
}

.product-details h1 {
    text-transform: uppercase;
}

.product-details .discounted-price sup {
    color: #ff0000;
}

.product-details .price {
    font-size: 28px;
}

.product-details #quantity {
    border-right: none;
    font-size: 16px;
    width: 40px;
    vertical-align: middle;
    background-color: inherit;
    margin-left: 10px;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #000;
}

.cart .remove-from-cart {
    color: #ff0000
}

footer {
    border: 1px solid #DDD;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 20px;
    background: #fafafa;
}
